<div class="parent-description">
    <div class="top-text">
        <span>To add multiple elements to support the decision making process, use the builder with drag and drop
            options
        </span>
    </div>
    <div class="container" fxLayout fxLayout.xs="column" fxLayoutGap.xs="0">
        <div class="item-1" fxFlex="20%">
            <div class="inner-elements">
                <span>Add Form Elements</span>
                <mat-card class="cards">
                    <div><span class="material-icons">
                            crop_16_9
                        </span></div>
                    <div class="cards-text"><span>Section Header</span></div>
                </mat-card>
                <mat-card  class="cards">
                    <div><span class="material-icons">
                            crop_7_5
                        </span></div>
                    <div class="cards-text"><span>Subsection Header</span></div>
                </mat-card>
                <mat-card class="cards"><div></div><div><span>Open/Ended (Text/Comment Area)</span></div></mat-card>
                <mat-card class="cards"><div></div><div><div><span>Open/Ended - 2 Column Format</span></div><div><span>(Text/Comment Area)</span></div></div></mat-card>
                <mat-card class="cards"><div><span class="material-icons">
                    check_circle_outline
                    </span></div><div><div><span>Choice - One Answer</span></div><div><span>(Radio Button or Pulldown)</span></div></div></mat-card>
                <mat-card class="cards"><div><span class="material-icons">
                    check_box_outline_blank
                </span></div><div><div><span>Choice - Multiple Answers</span></div><div><span>(checkboxes)</span></div></div></mat-card>
                <mat-card class="cards">
                    <div><span class="material-icons">
                            border_style
                        </span></div>
                    <div class="cards-text"><span>Rating Scale - (single or Multiple criteria can be rated)</span></div>
                </mat-card>
                <mat-card class="cards">
                    <div><span class="material-icons">
                            calendar_today
                        </span></div>
                    <div class="cards-text"><span>Date</span></div>
                </mat-card>
                <mat-card class="cards"><div class="material-icons">
                        format_list_numbered
                </div>
                    <div>Number</div>
                </mat-card>
            </div>

        </div>
        <div class="item item-2" fxFlex="60%">
            <div>
                <input type="text" class="form-input" placeholder="Drop Form Elements Here" name="uname" />
            </div>
            <div class="form-elemnt">
                <div><b>Student Form Title</b></div>
                <div><b>Lorem Ipsum Short Title</b></div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="item-3" fxFlex="20%">
            <div><span>Form Properties</span></div>
            <div>
                <form>
                    <div>
                        <div> <label for="uname"><b>Enter a title,query,or prompt</b></label>
                            <input type="text" placeholder="Student Form" name="uname" />
                            <div>(max 350 character)</div>
                        </div>
                        <div>
                            <label for="psw"><b>Short Title</b></label>
                            <div>Enter a 1 or 2 word title for reference.If left blank,title will be used ass short
                                title</div>
                            <input type="text" placeholder="Enter Short Title" name="psw" />
                            <div>(max 350 character)</div>
                        </div>
                        <div>

                            <label for="psw"><b>Description</b></label>
                            <div>Provide directions or contenxt (optional)</div>
                            <input type="text" placeholder="Enter Description" name="psw" />
                        </div>


                    </div>
                </form>
            </div>
        </div>

    </div>