<div  class="parent-description">
<div >
    <textarea id="w3review" name="w3review" rows="4" cols="50" >
    Enter your description here
        </textarea>
        
</div>
<div>
    <textarea id="w3review" name="w3review" rows="4" cols="50"  >
        Solutions,executions,milestone,results
        </textarea>
</div>
<div>
    <div class="recommendation-button"  style="cursor: pointer;display: flex;">
        <div (click)="onClick()"><span>Recommendation</span> </div>
        <div (click)="onClick()"><span class="material-icons">arrow_right_alt</span></div>
    </div>
</div>
</div>
