<div style="border:1px solid blue;    padding-left: 20px;
padding-top: 20px;margin-left: 99px;margin-right: 99px;">
<div >
    <textarea id="w3review" name="w3review" rows="4" cols="50" style="    height: 50vh;
    width: 60%;">
    Enter your description here
        </textarea>
        
</div>
<div>
    <textarea id="w3review" name="w3review" rows="4" cols="50"  style="width: 60%;">
        Solutions,executions,milestone,results
        </textarea>
</div>
<div>
    <div class="recommendation-button">
        <div><span>Recommendation</span> </div>
        <div><span class="material-icons">arrow_right_alt</span></div>
    </div>
</div>
</div>
