<div class="parent">
    <div>
        <div>
            <app-tabs [activeTab]="currentTab"></app-tabs>
        </div>
        <div>
            <div>
                <div>
                    <div>
                        <app-description *ngIf="isDescription" (dataFromDescription)="getDataFromTabs($event)">
                        </app-description>
                        <app-recommendation *ngIf="isRecommendations"
                            (dataFromRecommendations)="getDataFromTabs($event)"
                            (backFromSchedule)="onBackEvent($event)"></app-recommendation>
                        <app-analysis *ngIf="isAnalysis" (dataFromRecommendations)="getDataFromTabs($event)"
                            (backFromSchedule)="onBackEvent($event)"></app-analysis>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>