

.tabs {
    /**
     * Setting display to flex makes this container lay
     * out its children using flexbox, the exact same
     * as in the above "Stepper input" example.
     */
    display: flex;
    // padding-left: 100px;
    // padding-right: 100px;
    margin-top: 140px;
  
    // border-bottom: 1px solid #D7DBDD;
  }
  
    .tab {
      cursor: pointer;
      padding: 5px 30px;
      color: white;
      background-color: blue;
      font-size: 12px;
      border-bottom: 2px solid transparent;
    }
  
    .tab.is-tab-selected {
      border-bottom-color: #4EBBE4;
    }