<div>
  <div style="position: relative;">
  <div style="position: absolute;left: 102px;top:35px;">
    <span>Form Title Here</span>
  </div>
  <div class="horizontal-line">
    <hr>
  </div>
 
  <div style="display: flex;position: relative;">
    <div style="position: absolute;top: 83px;left: 96px;"><span class="material-icons">person_outline</span></div>
    <div style="position: absolute;top: 87px;left: 127px;"><span>Prepared By: </span><span>John Kates</span></div>
    <div style="position: absolute;top: 87px;left: 294px;"><span>|</span></div>

    <div style="position: absolute;top: 87px;left:300px;"><span>Date: </span><span>May 26, 2020</span></div>
  </div>

  
</div>
<div class="tabs">
  <div class="tab is-tab-selected">Tab 1</div>
  <div class="tab">Tab 2</div>
  <div class="tab">Tab 3</div>
  <div class="tab">Tab 4</div>
</div>
</div>