<div>
  <div >
  <div >
    <span>Form Title Here</span>
  </div>
  <div class="horizontal-line">
    <hr>
  </div>
 
  <div style="display: flex;">
    <div ><span class="material-icons">person_outline</span></div>
    <div ><span>Prepared By: </span><span>John Kates</span></div>
    <div ><span>|</span></div>

    <div ><span>Date: </span><span>May 26, 2020</span></div>
  </div>

  
</div>
<div class="tabs">

  <div class="tab is-tab-selected"><span>Description</span></div>
  <div class="tab">Recomendation</div>
  <div class="tab">analysis</div>
  <div class="tab ">Alternatives</div>
</div>
</div>