.login-page {
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    // background-color: #303F9F;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .main-card{
    border: 2px solid rgb(254,144,78) !important;
  }
  
  mat-card {
    width: 50%;
    margin: 10% auto;
    border-radius: 8px;
   
  }
  mat-form-field, mat-checkbox {
    width: 100%;
    display: block;
    margin: 0;
  }
  mat-card-content {
    margin-top: 20px;
  }
  
  .login-button {
    margin-top: 20px;
    display: block;
    width: 100%;
    margin: 10px 0;
    background-color:  rgb(254,144,78);
    color: white;
  }
  mat-card-title{
      text-align: left !important;
    font-family: Arial,serif;
    font-size: 26.1px;
    color: rgb(254,144,78);
  }
  mat-label{
    font-family: Arial,serif;
    font-size: 13px;
    color: rgb(79,79,79);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
  }
  
  .forgot-password, .new-user{
    display: flex;
    justify-content: center;
    margin-top: 22px;
  }

  .forgot-password-button,.new-users-button{
    font-family: Arial,serif;
    font-size: 10.1px;
    color: rgb(116,116,116);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    margin-right: 4px;
  }

  span.click-here-button,span.signup-button{
    font-family: Arial,serif;
    font-size: 10.1px;
    color: rgb(254,144,78);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }

  .check-box{
    font-family: Arial,serif;
    font-size: 8.1px;
    color: rgb(116,116,116);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }


  